<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>goods</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ecodefilter</filter-name>
    <filter-class>com.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ecodefilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>vcode</servlet-name>
    <servlet-class>com.vcode.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vcode</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAction</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>com.action.UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/userAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryAction</display-name>
    <servlet-name>CategoryAction</servlet-name>
    <servlet-class>com.action.CategoryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAction</servlet-name>
    <url-pattern>/CategoryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAction</display-name>
    <servlet-name>BookAction</servlet-name>
    <servlet-class>com.action.BookAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAction</servlet-name>
    <url-pattern>/bookAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartItemAction</display-name>
    <servlet-name>CartItemAction</servlet-name>
    <servlet-class>com.action.CartItemAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartItemAction</servlet-name>
    <url-pattern>/cartItemAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderAction</display-name>
    <servlet-name>OrderAction</servlet-name>
    <servlet-class>com.action.OrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAction</servlet-name>
    <url-pattern>/orderAction</url-pattern>
  </servlet-mapping>
</web-app>